<div class="h-screen flex justify-center items-center bg-gradient-to-r from-zinc-800 to-zinc-900">
    <div class="w-80 bg-zinc-700 rounded-md p-7">
        <div>
            <h1 class="text-center text-xl text-white">SignUp</h1>
        </div>
        <div class="flex flex-col mt-5">
            <input type="email" class="p-2 rounded-sm mt-2 bg-zinc-400 text-white placeholder-white" placeholder="Email" />
            <input type="text" class="p-2 rounded-sm mt-2 bg-zinc-400 text-white placeholder-white" placeholder="Name" />
            <input type="password" class="p-2 rounded-sm mt-2 bg-zinc-400 text-white placeholder-white" placeholder="Password" />
            <input type="password" class="p-2 rounded-sm mt-2 bg-zinc-400 text-white placeholder-white" placeholder="Comfirm Password" />
        </div>
        <div class="flex justify-center mt-5">
            <button class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 p-2 rounded-md text-white">CREATE ACCOUNT</button>
        </div>
        <div class="mt-5">
            <span class="text-white">Already have account? <a routerLink="/signin" class="cursor-pointer text-blue-500">Signin</a></span>
        </div>
    </div>
</div>