<div class="bg-green-500 rounded-md">
    <div>
        <div class="overflow-hidden rounded-t-md">
            <img class="w-full object-cover rounded-t-md" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Kmitl.jpg"  alt="" />
        </div>
    </div>
    <div class="p-5">
        <div>
            <h1 class="font-semibold text-lg">COM-SCI KMITL</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="mt-5">
            <h1 class="font-semibold text-lg">Schedule</h1>
            <p>Current Date: 3 September 2023</p>
            <p>Deadline: 3 September 2023</p>
            <p>Timeleft: 5 days</p>
        </div>
        <div class="mt-5">
            <h1 class="font-semibold text-lg">Related</h1>
            <div class="flex">
                <p>Admission: </p>
                <a class="text-blue-500 underline break-all cursor-pointer">https://new.reg.kmitl.ac.th/admission/#/</a>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex items-center justify-end">
                <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checked-checkbox" class="ml-2 text-lg font-medium">Completed</label>
            </div>
        </div>
    </div>
</div>