<div class="bg-zinc-600 text-white fixed left-0 h-full p-2 w-64">
    <div class="flex items-center justify-between">
        <button class="w-full mr-2 border-[0.01rem] border-[#f7f7f7] p-2 rounded-md transition-all hover:bg-zinc-500">+ New Board</button>
        <button class="border-[0.01rem] border-[#f7f7f7] p-2 rounded-md transition-all hover:bg-zinc-500">Hide</button>
    </div>
    <div class="py-5">
        <div>
            <p class="transition-all hover:bg-zinc-500 cursor-pointer p-3 rounded-md">Exercise</p>
        </div>
        <div>
            <p class="transition-all hover:bg-zinc-500 cursor-pointer p-3 rounded-md">Exercise</p>
        </div>
        <div>
            <p class="transition-all hover:bg-zinc-500 cursor-pointer p-3 rounded-md">Exercise</p>
        </div>
        <div>
            <p class="transition-all hover:bg-zinc-500 cursor-pointer p-3 rounded-md">Exercise</p>
        </div>
    </div>
</div>