<div [class]='sidebarOpen ? "left-0 visible z-10 bg-neutral-800 text-white fixed h-full p-2 w-64 transition-all duration-300" : "left-[-17%] invisible z-10 bg-neutral-800 text-white fixed h-full p-2 w-64 transition-all duration-300"'>
    <div>
        <div class="flex items-center justify-between">
            <button (click)="openCreateBoard()" class="w-full mr-2 border-[0.01rem] border-[#f7f7f7] p-2 rounded-md transition-all hover:bg-zinc-500">+ New Board</button>
        </div>
        <div class="py-5">
            <div *ngFor="let board of userService.currentUser?.boards">
                <div [routerLink]="['/board', board.id]" class="transition-all hover:bg-zinc-500 cursor-pointer p-3 rounded-md">
                    <p>{{ board.title }}</p>
                </div>
            </div>
        </div>
    </div>
    <div [class]='sidebarOpen ? "visible ml-64 fixed top-1/2 left-0 transition-all duration-300" : "visible ml-0 fixed top-1/2 left-0 transition-all duration-300"'>
        <button (click)="setOpenAndClose()" class="mt-10 bg-white rounded-[50%] w-10 h-10 text-black">{{ sidebarOpen ? "<" : ">" }}</button>
    </div>
</div>
<div class="fixed w-full h-full z-50" *ngIf="isOpenCreateBoard">
    <div (click)="closeCreateBoardBackground($event)" class="flex justify-center items-center w-full h-full z-50">
        <div class="bg-neutral-800 p-5 relative flex flex-col w-96 rounded-md max-h-[36rem] overflow-y-auto">
            <button (click)="closeCreateBoard()" class="fixed top-0 right-0 w-5 h-5 flex justify-center items-center text-xs bg-white text-black rounded-[50%]">X</button>
            <h1 class="text-white text-lg">Create board</h1>
            <input [value]="createBoardInput.title" (change)="onChangeInput($event)" name="title" type="text" placeholder="title" class="mt-2 p-3 rounded-md w-full" />
            <textarea [value]="createBoardInput.details" (change)="onChangeInput($event)" name="details" type="text" placeholder="details" class="mt-2 p-3 rounded-md w-full"></textarea>
            <input (change)="onChangeFile($event)" name="img" type="file" placeholder="img" class="mt-2 p-3 rounded-md w-full text-white" />
            <div class="mt-3 overflow-y-auto" *ngIf="createBoardInput.img">
                <img class="object-cover w-full" [src]="createBoardInput.img" alt="file" />
            </div>
            <div class="flex justify-end items-center mt-2">
                <button (click)="createBoard()" class="p-3 border-2 border-white text-white hover:bg-white hover:text-black transition-all duration-300 rounded-md">Create</button>
            </div>
        </div>
    </div>
</div>
