<app-layout-sidebar></app-layout-sidebar>
<app-layout-task-sidebar
    *ngIf="boardId" 
    [boardId]="boardId"
    [tasks]="filterTasks"
    [dateSelectInfodateSelectInfo]="dateSelectInfo" 
    [taskSidebarOpen]="taskSidebarOpen" 
    (addTaskEvent)="setTaskAfterAdd($event)" 
    (taskSidebarOpenEvent)="setTaskSidebarOpen($event)"
>
</app-layout-task-sidebar>
<div class="p-10 mt-14" *ngIf="boardId; else elseBlock;">
    <div [class]='taskSidebarOpen ? "w-[calc(100%-10rem)] transition-all duration-300" : "w-full transition-all duration-300" '>
        <div class="mx-10 xl:px-80">
            <app-calendar 
             [taskSidebarOpen]="taskSidebarOpen" 
             [tasks]="tasks"
             (dateSelectInfOutput)="setDateSelectInfo($event)"
             (taskSidebarOpenEvent)="setTaskSidebarOpen($event)" 
            >
            </app-calendar>
        </div>
    </div>
    <div class='px-10 mt-10'>
        <div>
            <h1 class="text-white font-semibold text-lg">All Task</h1>
            <h1 class="text-white font-semibold text-lg">Current Date: {{ currentDate }}</h1>
            <div>
                <div class="mt-10" *ngFor="let dateTask of dateTasks">
                    <h1 class="text-white font-semibold text-lg">Date {{ dateTask.deadline }}</h1>
                    <div class="flex flex-wrap">
                        <div class="w-64 mr-5 mt-5" *ngFor="let task of dateTask.tasks">
                            <app-sidebar-task-card [task]="task"></app-sidebar-task-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="p-10 mt-14 ml-64 text-gray-300">
        <h1 class="text-xl text-center border-2 border-gray-400 rounded-md p-2">No board selected yet. Select board on your left sidebar</h1>
    </div>
</ng-template>

