<div class="bg-white rounded-md relative">
    <div class="absolute top-2 right-2">
        <div class="flex items-center">
            <button class="bg-red-500 text-white rounded-md text-xs p-1 px-2">Del</button>
            <button class="bg-yellow-500 text-white rounded-md text-xs p-1 px-2 ml-1">Edit</button>
        </div>  
    </div>
    <div *ngIf="task.img">
        <div class="overflow-hidden rounded-t-md max-h-36">
            <img class="w-full object-cover rounded-t-md" [src]="task.img" [alt]="task.title" />
        </div>
    </div>
    <div class="p-5">
        <div>
            <h1 class="font-semibold text-lg">{{ task.title }}</h1>
            <p>{{ task.details }}</p>
        </div>
        <div class="mt-5">
            <h1 class="font-semibold text-lg">Schedule</h1>
            <p>Current Date: {{ currentDate }}</p>
            <p>Deadline: {{ deadline  }}</p>
            <p>Timeleft: <span class="text-red-500 font-semibold">{{ diff }}</span></p>
        </div>
        <div class="mt-5" *ngIf="task.links.length > 0">
            <h1 class="font-semibold text-lg">Related</h1>
            <div>
                <div class="flex items-center" *ngFor="let link of task.links">
                    <p>{{ link.title }}: </p>
                    <a [href]="link.link" target="_blank" class="text-blue-500 underline break-all cursor-pointer">{{ link.link }}</a>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex items-center justify-end">
                <input checked id="checked-checkbox" type="checkbox" [checked]="task.completed" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="checked-checkbox" class="ml-2 text-lg font-medium">Completed</label>
            </div>
        </div>
    </div>
</div>